<div class="container">
	<div class="row">
		<div class="user_info table-responsive col-md-4 col-xs-4">
            <table class="table">
                <thead>
                    <tr>
                      <th>ユーザー情報</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <th>1</th>
                      <td>ブルーＳＣ</td>
                      <td>地球</td>
                      <td>101</td>
                      <td>42</td>
                      <td>31</td>
                      <td>8</td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
</div>