<div class="container">
  <div class="row" >
    <div class="search-result-title">
      <h4>検索結果一覧</h4>
    </div>


    <div class="card" style="width: 18rem">
      <img class="card-img-top" src="/assets/takajin.jpg" alt="Card image cap" width="180" height="180" >
      <ul class="list-group list-group-flush" >
        <a href="#" class="card-link list-group-item">やっぱすっきゃねん</li>
        <a href="#" class="card-link list-group-item">たかじん</li>
        <a href="#" class="card-link list-group-item">Victor</li>
        <a href="#" class="card-link list-group-item" style="color: white; background-color: blue;">カートに追加</a>
      </ul>
    </div>



  </div>
</div>