.main-visual {
  width: 100%;
  height: 500px;
  background-position: center;
}
.image1{
  background-image: url(cd_shop.jpg);
}
.image2{
  background-image: url(avicii.jpg);
  background-size: cover;
  background-position: center;
}
.image3{
  background-image: url(aaa.jpg);
}
.image4{
  background-image: url(bbb.jpg);
}

.recommend {
  font-family:"Comic Sans MS";
}